[project]
name = "recommender-system-socialcircle"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "numpy>=1.26.4",
]

[dependency-groups]
dev = [
    "ipykernel>=6.30.1",
]
